export(Apwm2BpwmRC)
export(Bpwm2ApwmRC)
export(LaguerreHalf)
export(Lcomoment.Lk12)
export(Lcomoment.Wk)
export(Lcomoment.coefficients)
export(Lcomoment.correlation)
export(Lcomoment.matrix)
export(T2prob)
export(TLmom)
export(TLmoms)
export(are.lmom.valid)
export(are.par.valid)
export(are.paraep.valid)
export(are.parcau.valid)
export(are.parexp.valid)
export(are.pargam.valid)
export(are.pargev.valid)
export(are.pargld.valid)
export(are.parglo.valid)
export(are.pargno.valid)
export(are.pargpa.valid)
export(are.pargum.valid)
export(are.parkap.valid)
export(are.parkur.valid)
export(are.parlap.valid)
export(are.parln3.valid)
export(are.parnor.valid)
export(are.parpe3.valid)
export(are.parray.valid)
export(are.parrevgum.valid)
export(are.parrice.valid)
export(are.partexp.valid)
export(are.parwak.valid)
export(are.parwei.valid)
export(cdfaep)
export(cdfcau)
export(cdfexp)
export(cdfgam)
export(cdfgev)
export(cdfgld)
export(cdfglo)
export(cdfgno)
export(cdfgpa)
export(cdfgum)
export(cdfkap)
export(cdfkur)
export(cdflap)
export(cdfln3)
export(cdfnor)
export(cdfpe3)
export(cdfray)
export(cdfrevgum)
export(cdfrice)
export(cdftexp)
export(cdfwak)
export(cdfwei)
export(check.fs)
export(check.pdf)
export(dist.list)
export(dlmomco)
export(expect.max.ostat)
export(fliplmoms)
export(freq.curve.all)
export(gen.freq.curves)
export(genci)
export(gini.mean.diff)
export(harmonic.mean)
export(hlmomco)
export(is.aep)
export(is.cau)
export(is.exp)
export(is.gam)
export(is.gev)
export(is.gld)
export(is.glo)
export(is.gno)
export(is.gpa)
export(is.gum)
export(is.kap)
export(is.kur)
export(is.lap)
export(is.ln3)
export(is.nor)
export(is.pe3)
export(is.ray)
export(is.revgum)
export(is.rice)
export(is.texp)
export(is.wak)
export(is.wei)
export(lcomoms2)
export(lmom.ub)
export(lmom2par)
export(lmom2pwm)
export(lmom2vec)
export(lmomRCmark)
export(lmomTLgld)
export(lmomTLgpa)
export(lmomaep)
export(lmomcau)
export(lmomexp)
export(lmomgam)
export(lmomgev)
export(lmomgld)
export(lmomglo)
export(lmomgno)
export(lmomgpa)
export(lmomgpaRC)
export(lmomgum)
export(lmomkap)
export(lmomkur)
export(lmomlap)
export(lmomln3)
export(lmomnor)
export(lmompe3)
export(lmomray)
export(lmomrevgum)
export(lmomrice)
export(lmoms)
export(lmomsf01)
export(lmomsRCmark)
export(lmomtexp)
export(lmomwak)
export(lmomwei)
export(lmorph)
export(lmrdia)
export(lmrdiscord)
export(nonexceeds)
export(par2cdf)
export(par2cdf2)
export(par2lmom)
export(par2pdf)
export(par2qua)
export(par2qua2)
export(par2vec)
export(parTLgld)
export(parTLgpa)
export(paraep)
export(parcau)
export(parexp)
export(pargam)
export(pargev)
export(pargld)
export(parglo)
export(pargno)
export(pargpa)
export(pargpaRC)
export(pargum)
export(parkap)
export(parkur)
export(parlap)
export(parln3)
export(parnor)
export(parpe3)
export(parray)
export(parrevgum)
export(parrice)
export(partexp)
export(parwak)
export(parwei)
export(pdfaep)
export(pdfcau)
export(pdfexp)
export(pdfgam)
export(pdfgev)
export(pdfgld)
export(pdfglo)
export(pdfgno)
export(pdfgpa)
export(pdfgum)
export(pdfkap)
export(pdfkur)
export(pdflap)
export(pdfln3)
export(pdfnor)
export(pdfpe3)
export(pdfray)
export(pdfrevgum)
export(pdfrice)
export(pdftexp)
export(pdfwak)
export(pdfwei)
export(plmomco)
export(plotlmrdia)
export(pmoms)
export(pp)
export(prettydist)
export(prob2T)
export(pwm)
export(pwm.gev)
export(pwm.pp)
export(pwm.ub)
export(pwm2lmom)
export(pwm2vec)
export(pwmLC)
export(pwmRC)
export(qlmomco)
export(qua.ostat)
export(qua2ci)
export(quaaep)
export(quacau)
export(quaexp)
export(quagam)
export(quagev)
export(quagld)
export(quaglo)
export(quagno)
export(quagpa)
export(quagum)
export(quakap)
export(quakur)
export(qualap)
export(qualn3)
export(quanor)
export(quape3)
export(quaray)
export(quarevgum)
export(quarice)
export(quatexp)
export(quawak)
export(quawei)
export(rlmomco)
export(sen.mean)
export(theoLmoms)
export(theoLmoms.max.ostat)
export(theoTLmoms)
export(theopwms)
export(tlmrcau)
export(tlmrexp)
export(tlmrgev)
export(tlmrglo)
export(tlmrgno)
export(tlmrgpa)
export(tlmrgum)
export(tlmrln3)
export(tlmrnor)
export(tlmrpe3)
export(tlmrray)
export(vec2TLmom)
export(vec2lmom)
export(vec2par)
export(vec2pwm)
export(z.par2cdf)
export(z.par2qua)
export(.lmomcohash)
